body{
    background-color: bisque;
    border: dotted white 5px;
    width: 1400px;
    margin: 10px auto;
}

header{
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    width: 1000px;
    margin: 5px auto;
    padding: 5px;
    border: black solid 5px;
}

div.main_container{
    display: flex;
    width: 1200px;
    /* border: 5px solid red; */
    margin: 5px auto;
}

sidebar{
    
    box-sizing: border-box;
    text-align: center;
    width: 200px;
    height: 400px;
    margin: 5px;
    padding: 15px;
    border: solid 5px yellow;
    background-color: brown;
}

content{
    box-sizing: border-box;
    width: 900px;
    height: 700px;
    margin: 5px auto;
    padding: 15px;
    border: solid 5px indigo;
}

footer{
    box-sizing: border-box;
    font-size: 20px;
    background-color: greenyellow;
    text-align: center;
    width: 900px;
    height: 100px;
    margin: 15px auto;
    padding: 5px;
    border: gray solid 5px;
}